<canvas width="600" height="400"> </canvas>
LEON PELEADOR SIN LEY 

<script>

	var pantalla=document.querySelector("canvas");
	var pincel=pantalla.getContext("2d");


	pincel.fillStyle="white";
	pincel.fillRect(0,0,600,400);

	pincel.fillStyle="orange"; //cuerpo
	pincel.beginPath();
	pincel.moveTo(300,200);
	pincel.lineTo(200,400);
	pincel.lineTo(400,400);
	pincel.fill();

	pincel.fillStyle="yellow"; //pelaje
	pincel.beginPath();
	pincel.arc(300,200,100,0,2*3.14);
	pincel.fill();

	pincel.fillStyle="orange"; //cara
	pincel.beginPath();
	pincel.arc(300,200,55,0,2*3.14);
	pincel.fill();

	pincel.fillStyle="black"; //ojo izquierdo
	pincel.beginPath();
	pincel.arc(280,190,10,0,2*3.14);
	pincel.fill();

	pincel.fillStyle="black";  // ojo derecho
	pincel.beginPath();
	pincel.arc(320,190,10,0,2*3.14);
	pincel.fill();


	pincel.fillStyle="white"; //pupila izquierdo
	pincel.beginPath();
	pincel.arc(282,188,3,0,2*3.14);
	pincel.fill();

	pincel.fillStyle="white";  // pupila derecho
	pincel.beginPath();
	pincel.arc(322,188,3,0,2*3.14);
	pincel.fill();

	pincel.fillStyle="black";  //nariz
	pincel.beginPath();
	pincel.moveTo(300,235);
	pincel.lineTo(285,220);
	pincel.lineTo(315,220);
	pincel.fill();

	pincel.fillStyle="orange"; //oreja izquierdo
	pincel.beginPath();
	pincel.arc(250,140,15,90,2*3.14);
	pincel.fill();

	pincel.fillStyle="orange";  // oreja derecho
	pincel.beginPath();
	pincel.arc(352,140,15,90,2*3.14);
	pincel.fill();

	pincel.fillStyle="orange";  // cola
	pincel.beginPath();
	pincel.moveTo(245,350);
	pincel.quadraticCurveTo(180,400,150,200);
	pincel.lineWidth=5;
	pincel.fill();
	
	pincel.fillStyle="yellow"; //punta de cola.
	pincel.beginPath();
	pincel.arc(150,200,30,0,2*3.14,false);
	pincel.fill();

	pincel.fillStyle="yellow"; //pata izquierda
	pincel.beginPath();
	pincel.arc(250,390,30,90,2*3.14);
	pincel.fill();

	pincel.fillStyle="yellow"; //pata derecha.
	pincel.beginPath();
	pincel.arc(352,390,30,90,2*3.14);
	pincel.fill();

	pincel.fillStyle="green";  //maticas
	pincel.beginPath();
	pincel.moveTo(70,400);
	pincel.lineTo(20,360);
	pincel.lineTo(120,360);
	pincel.fill();

	pincel.fillStyle="green";  //maticas
	pincel.beginPath();
	pincel.moveTo(70,375);
	pincel.lineTo(20,325);
	pincel.lineTo(120,340);
	pincel.fill();

	pincel.fillStyle="green";  //maticas
	pincel.beginPath();
	pincel.moveTo(70,350);
	pincel.lineTo(20,315);
	pincel.lineTo(120,300);
	pincel.fill();

	pincel.fillStyle="green";  //maticas
	pincel.beginPath();
	pincel.moveTo(70,325);
	pincel.lineTo(20,275);
	pincel.lineTo(120,275);
	pincel.fill();
</script> 
